:root {
  --fade-duration: 2s;
  --fast-fade-duration: 1.25s;
}

#container {
  height: 100%;
  font-size: 25px;  
}

.quoteBox {
  background-color: white;
  border-radius: 5px;
}

#quoteText {
  transition: all var(--fade-duration) ease;
  padding: 0.25em;
}

#author {
  padding: 0.25em;
  text-align: right;
  transition: all var(--fade-duration) ease;
}

#creatorLink {
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
}

#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#share {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.25em;
  padding: 0.25em; 
  text-align: center;
}

.linkDiv {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 5px;
}

#newQuote {
  margin-top: 1em;
}

.centerBoxColumn {
  display: flex;
  flex-direction: column; 
  transition: background-color var(--fade-duration) ease;
}

.linkButton {
  flex-grow: 1;
  flex-shrink: 1;
  width: min-content;
  color: white;
  cursor: pointer;
  font: inherit;
  transition: background-color var(--fade-duration) ease;
}

.button {
  flex-grow: 1;
  padding: 0.2em;
  color: white;
  cursor: pointer;
  font: inherit;
  transition: background-color var(--fade-duration) ease;
  border-radius: 5px;
}